h1 {
	text-align: center;
	color: #9C2D0D;
	font-size: 60px;
}

.btn {
	width: 100px;
	margin: 0 auto;
	background-color: #E0A907;
	display: block;
	color: #020203;
	text-align: center;
	font-size: 16px;
}

.quiz {
	
}

body {

	font-color: #FFF9E4;
	background: url("../images/moviebackground.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #FFD524
	}