h1 {
	text-align: center;
	color: #9C2D0D;
	font-size: 60px;
}

.submit_btn {
	float: center;
	background-color: #E0A907;
	border: none;
	color: #020203;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	width: 250px;

	
}

body {

	font-color: #FFF9E4;
	background: url("../images/moviebackground.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #FFD524
	}